spring:
  application:
    name: BigChatBrasil

  datasource:
    url: jdbc:postgresql://postgres:5432/bcb
    username: admin_bcb
    password: bcb2026
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: always

server:
  port: 8080